{% extends 'simcourse/base.html' %}
<title>Update player</title>
{% block content %}
    <h1>Cheatuj statsy</h1>
<form method="POST" action="/main_menu">
    {% for player in players %}
    <p><strong>Name:{{ player.name }}</strong>
    <br><strong>Ksywka: {{ player.nickname }}</strong>
    {% endfor %}
     {% for stat in stats %}
      <p>Stan wyspania: {{ stat.get_sleep_state_display }}</p>
      <p>Stan psychiczny: {{ stat.get_mental_state_display }}</p>
      <p>Stan wiedzy: {{ stat.get_knowledge_state_display }}</p>
    {% endfor %}
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="confirm">
    <a href="/main_menu/{{ player.pk }}">Return</a>
</form>
{% endblock %}

